header {
  margin: 2em 0 2em 0;
}

body {
  background-color: #736b76;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Coda', sans-serif;
  color: 	#00b2ac;
}

.col-md-12{
  border: 1px black solid;
  margin: 1em 2em 0 4em;
  background-image: url('https://thumbs.dreamstime.com/t/road-game-road-illustration-1347102.jpg');
  max-width: 2000px;
}

#title {
  font-size: 3.25em;
}

#blueLine {
  color: #32bffe;
}

#orangeLine {
  color: #fe6114;
}

#msgDisplay {
  color: red;
  padding-top: 1em;
}
